@use "variables" as v;
@use "sass:color";

body{
    background-color: v.$fondo;
    color: v.$texto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
}

div{
    height: 5rem;
    width: 8rem;
    border: 0.15rem solid;
    margin: 1.5rem;
    border-radius: 0.5rem;
}

.base-color{
    background-color: v.$base-color;
}

.light-color{
    background-color: v.$claro;
}

.dark-color{
    background-color: v.$oscuro;
}

.complementary-color{
    background-color: v.$complementario;
}

.success-color{
    background-color: v.$exito;
}

.error-color{
    background-color: v.$error;
}

.text-color{
    background-color: v.$texto;
}

.background-color{
    background-color: v.$fondo;
}

// Modo oscuro

@media(prefers-color-scheme: dark){
    body{
        background-color: color.invert(v.$fondo);
        color: color.invert(v.$texto);
    }
    .base-color{
        background-color: color.invert(v.$base-color);
    }
    .light-color{
        background-color: color.invert(v.$claro);
    }
    .dark-color{
        background-color: color.invert(v.$oscuro);
    }
    .complementary-color{
        background-color: color.invert(v.$complementario);
    }
    .success-color{
        background-color: color.invert(v.$exito);
    }
    .error-color{
        background-color: color.invert(v.$error);
    }
    .text-color{
        background-color: color.invert(v.$texto);
    }
    .background-color{
        background-color: color.invert(v.$fondo);
    }
}